*{
    margin: 0;
}
.header {
    display: flex;
    padding-left: 80px;
}

nav {
    display: flex;
    margin-top: 20px;
    padding-left: 40px;
}

nav>a:first-child {
    margin-left: 600px;
}

nav>a {
    margin-left: 100px;
    text-decoration: none;
    color: black;
}

header>img {
    padding-left: 80px;
    width: 1350px;
}

.container {
    padding-top: 60px;
    padding-left: 140px;
    padding-right: 140px;
}
.container1 {
    padding-top: 60px;
    padding-left: 140px;
    padding-right: 140px;
}

.container>h3,
h4 {
    font-weight: normal;
}

.container1 {
    display: flex;
}

.img1 {
    width: 430px;
}

.img1>h5 {
    color: gray;
    font-weight: normal;
}

.img1>h1 {
    width: 450px;
    font-size: 34px;
    font-weight: normal;
    color: rgb(81, 81, 81);
}
.img2 {
    width: 430px;
    margin-left: 380px;
}

.img2>h5 {
    color: gray;
    font-weight: normal;
}

.img2>h1 {
    width: 450px;
    font-size: 34px;
    font-weight: normal;
    color: rgb(81, 81, 81);
}
.email{
    margin-top: 100px;
    text-align: center;
    background-color: rgb(193, 193, 193);
    height: 300px;
}
.email>form>label>h1{
    padding-top: 100px;
    font-weight: normal;
}
form>input{
    margin-top: 60px;
    margin-left: 0px;
    border: none;
    border-bottom: 1px solid black;
    width: 310px;
    background: transparent;
}
